body {
    background-color: #3360C1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    cursor: url('custom-cursor.png'), auto;
    
}

@font-face {
    font-family: tiny5;
    src: url(Tiny5-Regular.ttf);
}

@font-face {
    font-family: sen-bold;
    src: url(Sen-Bold.ttf);
}

@font-face {
    font-family: micro5;
    src: url(Micro5-Regular.ttf);
}

.scream {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: tiny5;
    color: antiquewhite;
    font-size: 150px;
    transition: color 0.3s ease-in-out;
    transform: translate(0px, -50px);
    cursor: none;

}

.scream:hover {
    font-family: micro5;
    font-size: 200px;
    transform: translate(0px, -60px);
}

.text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sen-bold;
    color: antiquewhite;
    font-size: 100px;
    letter-spacing: -10px;
    margin-top: 100px;
}

.next {
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100px;
    transform: translate(410px, -150px);
}