body {
    background-color: #3360C1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: url('custom-cursor.png'), auto;
}

@font-face {
    font-family: tiny5;
    src: url(../Tiny5-Regular.ttf);
}

@font-face {
    font-family: sen-bold;
    src: url(../Sen-Bold.ttf);
}

@font-face {
    font-family: micro5;
    src: url(../Micro5-Regular.ttf);
}

.sen {
    font-family: sen-bold;
    font-size: 70px;
    color:antiquewhite;
    letter-spacing: -5px;
}

.pixel {
    font-family: tiny5;
    font-size: 70px;
    color:antiquewhite;
    transition: color 0.1s ease-in-out;
}

.pixel:hover {
    font-family: micro5;
    font-size: 95px;
    transform: translate(0px, -10px);
    color: #559FF4;
}

.row-1 {
    position: absolute;
    top: 600px;
    left: 20px;
}

.row-2 {
    position: absolute;
    top: 660px;
    left: 20px;
}

.change {
    position: absolute;
    top: 605px;
    left: 295px;
}

.row-3 {
    position: absolute;
    top: 200px;
    left: 1300px;
}

.row-4 {
    position: absolute;
    top: 320px;
    left: 1165px;
    font-family: tiny5;
    font-size: 70px;
    color:antiquewhite;
    transition: color 0.1s ease-in-out;
}

.row-4:hover {
    font-family: micro5;
    font-size: 95px;
    transform: translate(0px, -10px);
}


.hidden-image {
    display: none; 
    width: 700px;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    transform: translate(360px, 60px);
}

.next {
    position: absolute;
    left: 20px;
    top: 30px;
}

.hidden-text {
    display: none; 
}