body {
    background-color: #fff4eb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: url('custom-cursor.png'), auto;
}

@font-face {
    font-family: tiny5;
    src: url(../Tiny5-Regular.ttf);
}

@font-face {
    font-family: sen-bold;
    src: url(../Sen-Bold.ttf);
}

@font-face {
    font-family: micro5;
    src: url(../Micro5-Regular.ttf);
}

.sen {
    font-family: sen-bold;
    font-size: 80px;
    color:#3360C1;
    letter-spacing: -5px;
}

.pixel {
    font-family: tiny5;
    font-size: 80px;
    color:#3360C1;
    transition: color 0.1s ease-in-out;
}

.pixel:hover {
    font-family: micro5;
    font-size: 110px;
    transform: translate(0px, -10px);
    color: #559FF4;
}

.container {
    display: flex;
    flex-direction: column;
    transform: translate(50px, 10px);
}

.row-1 {
    display: flex;
    gap: 25px;
}

.dream {
    position: absolute;
}

.row-2 {
    position: absolute;
    top: 70px;
    left: 20px;
}

.row-3 {
    position: absolute;
    top: 140px;
}

.row-4 {
    position: absolute;
    top: 210px;
    left: 30px;
}

.row-5 {
    position: absolute;
    top: 280px;
    left: 400px;
}

.hidden-text {
    display: none; 
    font-family: tiny5;
    font-size: 230px;
    color:#3360C1;
    transition: color 0.1s ease-in-out;
}

.hidden-text:hover {
    font-family: micro5;
    font-size: 310px;
    color: #559FF4;
}

.row-6 {
    position: absolute;
    left: 650px;
    top: 240px;
}

.row-7 {
    position: absolute;
    left: 700px;
    top: 400px;
}

.row-8 {
    position: absolute;
    left: 610px;
    top: 540px;
}

.next {
    position: absolute;
    justify-content: right;
    align-items: right;
    left: 1290px;
    top: 660px;
}





